:root {
    --open-sans: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
  
    --preto: #161616;
    --branco: #fff;
    --rosa: #ee015e;
    --limon: #BCEB28;
    --lightblue: #1265D2;
  }